{% extends "base.html" %} 
{% block title %}Email Verification{% endblock title %}
{% block cdn %}
{% endblock cdn %}
{% block css %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa; /* Light background */
        margin: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card {
        max-width: 450px;
        width: 100%;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: white;
    }
    .btn {
        padding: 10px 20px;
        color: white;
        background-color:red;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .btn:hover {
        background-color:#ff0000b5;
    }
</style>
{% endblock css %}
{% block content %} 
<div class="card">
    <h2 class="text-center mb-4">Verify your email !</h2>
    <form>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required autocomplete="off">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button type="button" id='verify-btn' class="btn">Verify Email</button>
        </div>
    </form>
    <p class="text-center text-muted mt-4">
        Already have an account?<a href="/"> Sign In </a>
    </p>
</div>
{% endblock content %}

{% block script %}
  <script>
    $(document).ready(function(){
        $('#verify-btn').on('click', function(event){
            event.preventDefault();
            var em = $('#email').val();
            
            const email_validator = /^\w+([\.-]?\w+)*@(gmail)\.[a-zA-Z]{2,}$/;

            if(email_validator.test(em)){
                $.ajax({
                    type: 'POST',
                    url: '/api/useremailverify/'+ em,
                    contentType: 'application/json',  
                    success: function(response){
                        if(response.message === 'Success'){
                            showSuccessToast('Email Verification send to your email')
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        showErrorToast(error)
                    }
                });            
            } else {
                showErrorToast('Invalid email format.\n Valid formats : example@gmail.com');
            }
            
        });
    });
  </script>
{% endblock script %}